// пример использования scss, рекомендовано использовать в проекте (если в него добавить обычный css, он будет работать)

.features {
  background-color: #1b1b1b;
  &__header {
    font-size: 20px;
  }
}