// пример использования sass

.container
  width: 1200px
  margin: auto
  background-color: #eee

.features
  background-color: #1b1b1b
  &__header
    font-size: 20px
  .section-header
    font-size: 24px


.features .section-header
